[project]
name = "scandir-rs"
repository = "https://github.com/brmmm3/scandir-rs"

[build-system]
requires = ["maturin>=0.12"]
build-backend = "maturin"

[tool.maturin]
strip = true

[package.metadata.maturin]
requires-python = ">=3.7"
classifier = [
    "Development Status :: 3 - Alpha",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Operating System :: Microsoft :: Windows",
    "Operating System :: POSIX :: Linux",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python",
    "Programming Language :: Rust",
    "Typing :: Typed",
]
